::placeholder,
label {
    color: #adb5bd;
}

input {
    color: #adb5bd;
    /* Establecer el color del texto */
    background-color: #333;
    /* Establecer el color de fondo del input */
    border-color: #555;
    /* Establecer el color del borde del input */
}

.imagen {
    height: 220px;
    margin-bottom: 10px;
}

.body {
    max-width: 300px;
    width: 100%;
    text-align: center;
}

.app-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}