.color {
    background-color: #121212;
}

.imagen {
    /* Ancho de la imagen */
    width: 75px;
    /* Ajuste proporcional de la altura */
    height: auto;
    /* Ajusta la imagen a no ser más grande que su contenedor */
    max-width: 100%;
}