<!-- <div class="wrapper">
    <h1>Login</h1>
    <div class="contenedor rounded-3">
        <div class="form-floating mb-3">
            <input type="email" class="form-control" placeholder="name@example.com">
            <label>Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        <img class="imagen rounded float-end" src=".../../../../../assets/img/imglogin.jpg" alt="imglogin">
    </div>
</div> -->

<div class="wrapper">
    <div *ngIf="!loading" class="body">
        <img class="imagen" src=".../../../../../assets/img/imglogin.jpg" alt="imglogin">
        <h1 class="mb-3">Iniciar sesión</h1>
        <form [formGroup]="formLogin">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" placeholder="Correo del usuario" formControlName="Correo">
                <label>Correo del usuario</label>
                <div class="alert alert-danger mt-2" [hidden]="getCorreo.valid || getCorreo.pristine">
                    <span *ngIf="getCorreo.errors?.['required']">
                        El correo es obligatorio
                    </span>
                    <span *ngIf="getCorreo.errors?.['email']">
                        El correo es no es valido
                    </span>
                </div>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Contraseña"
                    formControlName="Contrasena">
                <label>Contraseña</label>
                <div class="alert alert-danger mt-2" [hidden]="getContrasena.valid || getContrasena.pristine">
                    La contraseña es requerida
                </div>
            </div>
        </form>
        <div class="d-grid gap-2 mb-3">
            <button type="button" class="btn btn-outline-primary btn-lg" (click)="Login()"
                [disabled]="formLogin.invalid">Ingresar</button>
        </div>
        <p class="mt-3">¿No tienes cuenta?
            <a routerLink="/sig-in" class="icon-link icon-link-hover"
                style="--bs-link-hover-color-rgb: 25, 135, 84;">Registrate
                <svg class="bi" aria-hidden="true">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </a>
        </p>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
</div>