/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    height: 100vh;
    color: white;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.color {
    background-color: #121212;
    height: 100vh;
}