.centrar-texto {
    text-align: center;
    color: white;
    /* Title color changed to white */
}

#AgregarDeuda {
    background-color: #424242;
    /* Dialog background color */
    padding: 20px;
    border-radius: 8px;
}

.form-floating {
    margin-bottom: 15px;
}

.custom-select {
    background-color: #616161;
    /* Dropdown background color */
    color: white;
    /* Dropdown text color */
    border: 1px solid #757575;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
}

.custom-select option {
    background-color: #424242;
    /* Option background color */
    color: white;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.alert-danger {
    background-color: #d32f2f;
    color: white;
    border-radius: 4px;
    padding: 10px;
    margin-top: 5px;
    font-size: 14px;
}


form .form-floating input,
form .form-floating select,
form .form-floating textarea {
    padding: 1rem 0.75rem 0.25rem;
    height: auto;
}

form .form-floating input:focus,
form .form-floating select:focus,
form .form-floating textarea:focus {
    border-color: #007bff;
    outline: 0;
}

.form-control {
    border-radius: 0.25rem;
    /* Bordes redondeados */
    border-color: #ced4da;
    /* Color del borde */
}

.form-floating .form-control::placeholder {
    color: #6c757d;
    /* Color del texto del placeholder */
}

.alert-danger {
    font-size: 0.875rem;
    /* Tamaño de fuente más pequeño para el mensaje de error */
}